p {
    margin: 0;
}
h1 {
    margin: 0;
}
.container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
}
.title-container {
    display: flex;
    height: 85vh;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 51, 51);
}

.inner-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    z-index: 2;
}

.title {
    color: white;
    font-size: 4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    font-weight: 600;
}

.hand {
    font-size: 6vw;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }

.title-divider {  
  height: 10vh;
  background-color: rgb(44, 51, 51);
  position: relative;
  rotate: -3deg;
  margin: -5vh 0 -5vh -1vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;;

}


.intro{
    color: rgb(255,255,255,0.8);
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    
}

.intro-1 {
    font-weight: 400;
}

.contact {
    color: rgb(196, 192, 192,0.8);
    display: flex;
    flex-direction: row;
    gap: 1vw;
    padding-top: 2vh;
    transition: 1s;

}

.contact-icon {
    text-decoration: none;
    color: rgb(196, 192, 192,0.8);
}

.contact-icon:hover {
    color: rgb(255,255,255);
}


@media(min-width:850px) {
    .intro {
        width: 40vw;
        font-size: 1.6vw;
    }

    .intro-1 {
        margin-right: 7vw;
    }
    .contact {
        font-size: 2vw;
        gap: 1vw;
    }

    .inner-container {
        width: 40vw;
    }
    .title {
        font-size: 3vw;
    }

    .intro-1 {
        font-size: 2vw;
    }

    .contact-icon {
        font-size: 3vw;
    }

}
@media(max-width:850px) {
    .intro {
        width: 80vw;
        font-size: 4vw;
    }
    .intro-1 {
        margin-right: 7vw;
    }
    .contact {
        font-size: 3vw;
        gap: 3vw;
    }
    .inner-container {
        width: 90vw;
    }
    .title {
        font-size: 9vw;
    }
    .wave {
        font-size: 15vw;
    }

    .intro-1 {
        font-size: 5vw;
    }

    .contact-icon {
        font-size: 8vw;
    }
}
