.techstack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s;
}

.techstack:hover {
    transform: rotateY(360deg);
}

.techstack-name {
    font-weight: 400;
    text-align: center;

}

.none {
    visibility: hidden;
}

@media(min-width:850px) {

    .techstack {
        width: 2.5vw;
        max-width: 2.6vw;
    }
}


@media(max-width:850px) {

    .techstack {
        width: 6.9vw;
        max-width: 7vw;
    }
}