.experience-card-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 0;
  width: 50vw;
}

.experience-card {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  justify-content: flex-start;
  text-align: start;
  padding: 2vh 0;
}

.experience-card-header {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}
.experience-card-title {
  font-size: 1.7rem;
  font-weight: 600;
}
.experience-card-sub {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: center;
}

.experience-card-company {
  font-size: 1.3rem;
  font-weight: 500;
  opacity: 0.6;
}

.experience-card-date {
  opacity: 0.7;
  font-size: 1.2rem;
}

.experience-card-line {
  border-right: 2px rgb(0, 0, 0, 0.5) solid;
  display: flex;
  align-items: flex-start;
  margin: 0px 16px 0px 8px;
}

.experience-card-circle {
  position: relative;
  left: 55%;
  background-color: #f2f3f5;
  top: 3.5vh;
}

.experience-card-desc {
  padding-left: 3px;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.experience-card-desc-line {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.experience-card-techstacks {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.experience-card-techstack-icon {
  width: 3vw;
}

.experience-card-detail {
  display: flex;
  visibility: visible;
  flex-direction: column;
  overflow: hidden;
  gap: 2vh;
  padding-right: 2vw;
  transition: all 1s ease-in-out;
  max-height: 50vh;
}

.hide {
  max-height: 0;
  visibility: hidden;
}

.down {
  transform: rotate(180deg);
}

.experience-expand-btn {
  transition: transform 1s;
  color: rgb(40, 40, 40, 0.6);
}

.experience-expand-btn:hover {
  color: rgb(40, 40, 40);
}

@media (max-width: 1080px) {
  .experience-card-container {
    width: 50vw;
  }

  .experience-card-line {
    margin: 0 2vw;
  }

  .experience-card-title {
    font-size: 1.5rem;
  }

  .experience-card-date {
    font-size: 1rem;
  }
  .experience-card- company {
    font-size: 1rem;
  }

  .experience-card-detail {
    font-size: 1rem;
  }

  .experience-expand-btn {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .experience-card-container {
    width: 90vw;
  }

  .experience-card-title {
    font-size: 1rem;
  }
  .experience-card-company {
    font-size: 0.8rem;
  }
  .experience-card-date {
    font-size: 0.7rem;
  }

  .experience-card-line {
    margin: 0 5vw;
  }

  .experience-card-detail {
    font-size: 0.7rem;
  }
  .experience-expand-btn {
    font-size: 0.7rem;
  }
}
